/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
body {
  font-family: 'Roboto', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "slider text boton";
  }
  


  /* contenedor slider */

/**
  Setup for code demo only
*/
:root {
  --current-image-height: 300px;
  --thumbnails-track-height: 90px;
  --thumbnail-width: 100px;

  
  /* colors */
  --color-institucional: #ff6f22;
  --color-text: rgb(84, 84, 84);
  --precio: #ff6f22;
  --text-secundario: #c7c7c7;
}



/** Container */
.product-images {
  max-width: 400px;
}


/** Thumbnails track */
.thumbnails {
  display: flex;
}

  .slick-list {
    flex: 1 1 auto;
  }


/** Current image */
.current-image {
  margin-bottom: 1px;
}

  .current-image a {
    display: block;
    height: var(--current-image-height);
    overflow: hidden;
    position: relative;
  }

    .current-image a:before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: box-shadow .1s linear;
    }

    .current-image a:focus {
      outline: 0;
    }

      .current-image a:focus:before {
        box-shadow: inset 0 0 0 1px black,
                    inset 0 0 0 5px white;
      }

  .current-image img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

/** Previous and next buttons */
.button {
  background: none;
  border: 0;
  cursor: pointer;
  
  font-size: 30px;
  color: rgba(0,0,0,.7);

  padding: 0;
  margin: 0 1px;
  flex: 0 0 25px;
  
  transition: all .2s linear;
}

  .button:hover {
    background-color: rgba(0,0,0,.1);
    color: black;
  }

  .button:focus {
    outline: none;
    background-color: royalblue;
    color: rgba(255,255,255,1);
  }

  .button:disabled {
    opacity: .3;
  }

/** Track of all thumbnails */
.thumbnails {
  height: var(--thumbnails-track-height);
}

/** Single thumbnail */
.thumbnail {
  margin-right: 1px;
  position: relative;
}

  .thumbnail-button {
    display: block;
    padding: 0;
    margin-right: 1px;
    height: var(--thumbnails-track-height);
    
    cursor: pointer;
    border: 0;
    background: none;
    background-color: rgba(0,0,0,.4);
    transition: opacity .1s linear;
  }

    .thumbnail-button:before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: box-shadow .1s linear;
    }

    .thumbnail-button:focus {
      outline: 0;
    }

      .thumbnail-button:focus:before {
        box-shadow: inset 0 0 0 1px black,
                    inset 0 0 0 4px white;
      }

      .thumbnail-button:focus img,
      .thumbnail-button:hover img,
      .thumbnail-button[aria-current="true"] img {
        opacity: 1;
        filter: grayscale(0);
      }

    .thumbnail-button img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      
      opacity: .5;
      filter: grayscale(.6);
      transition: all .1s linear;
    }

.credits {
  padding: 10px;
  font-size: 14px;
  color: black;
  text-decoration: none;
  opacity: .7;
}

  .credits img {
    height: 30px;
    margin-left: 5px;
    margin-top: -2px;
    vertical-align: middle;
  }

  .credits:hover,
  .credits:focus {
    opacity: 1;
  }

  .content-title h1 {
    font-size: 18px;
    text-align: center;
  }
  .content-title p {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-text);
  }
  .precio h5 {
    text-align: center;
    margin: 0px;
    font-size: 40px;
    font-weight: bold;
    color: var(--precio); 
    text-decoration: none;   
  }
  .precio p {
    text-align: center;
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-secundario); 
    text-decoration: line-through;   
  }

  .carteristicas {
    margin: 20px 0;
    text-align: center;
  }
  .carteristicas  a {
    margin: 20px 0;
    text-align: center;
  }


/* MODAL */
/*Efecto*/
.modalmask {
  position: fixed;
  font-family: Arial, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalmask:target {
  opacity:1;
  pointer-events: auto;
}

/*Formato de la ventana*/
.modalbox{
  width: 400px;
  position: relative;
  padding: 5px 20px 13px 20px;
  background: #fff;
  border-radius:3px;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
   
}

/*Movimientos*/
.movedown {
  margin: 0 auto;
}
.rotate {
  margin: 10% auto;
  -webkit-transform: scale(-5,-5);
  transform: scale(-5,-5);
}
.resize {
  margin: 10% auto;
  width:0;
  height:0;

}
.modalmask:target .movedown{       
  margin:10% auto;
}
.modalmask:target .rotate{     
  transform: rotate(360deg) scale(1,1);
      -webkit-transform: rotate(360deg) scale(1,1);
}

.modalmask:target .resize{
  width:400px;
  height:200px;
}

/*Boton de cerrar*/
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius:3px;

}

.close:hover {
  background: var(--color-institucional);
  color:#222;
}

/*fin de la modal*/
  


  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ".icon-envio .icon-tiendas";
  }
  .icon-envio {
    text-align: center;
  }

  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }


  /* final contenedor slider */



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

